body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #354d7a, #000000);
}

.stopwatch {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#timeDisplay {
    font-size: 3rem; /* Increased font size for the numbers */
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000; /* Darker blue for hover effect */
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
